{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Trajets Proposés</title>
    <link rel="stylesheet" href="{% static 'trajets/css/liste_trajets.css' %}">
</head>
<body>
    <header>
        <h1>Trajets Proposés</h1>
    </header>

    <main>
        <section class="trajets-container">
            {% for trajet in trajets %}
                <div class="trajet">
                    <h2>Départ: {{ trajet.point_depart }}</h2>
                    <p>Destination: {{ trajet.destination }}</p>
                    <p>Date: {{ trajet.date_depart|date:"d M Y" }}</p>
                    <p>Heure: {{ trajet.heure_depart }}</p>
                    <p>Places disponibles: {{ trajet.sieges_dispo }}</p>
                    <div class="end">
                        <button class="suppression"><a href="{% url 'trajets:supprimer_trajet' trajet.id %}">Supprimer</a></button>
                        <button class="modifier"><a href="{% url 'trajets:modifier_trajet_propose' trajet.id %}">Modifier</a></button>
                    </div>
                    
                </div>
            {% empty %}
                <p>Vous n'avez effectué aucune proposition de trajet pour le moment.</p>
            {% endfor %}
        </section>
    </main>
</body>
</html>
