{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/connexion.css' %}">
    <title>Connexion - GoVibe</title>
    
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{% static 'users/images/logo_govibe.png' %}" alt="Logo GoVibe">
        </div>
        
        <h1>Connexion</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email :</label>
                {{ form.email }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Mot de passe :</label>
                {{ form.password }}
            </div>
            <a href="{% url 'send_reset_code'}"><br>Mot de passe oublié ?<br></a>
            <button type="submit">Se connecter</button>
        </form>
        
        <p>Pas encore de compte ? <a href="{% url 'inscription' %}">Créer un compte</a></p>
        <p><a href="{% url 'accueil' %}">Retour à l'accueil</a></p>
    </div>

   
</body>
</html>

