<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information personnelle</title>
    <link rel="stylesheet" href="infos_perso.css">
</head>
<body>
    <h1>Informations personnelles</h1>
    <form>
      <div class="champ">
        <div class="champ1">
           <input type="text" placeholder="Nom" required>
           <input type="text" placeholder="Prenom" required class="champ2">
        </div>
        <div class="champ3">
           <input type="e-mail" placeholder="Adresse e-mail" required>
           <input type="tel" placeholder="Numéro de téléphone" required class="champ4">
        </div>
        <div class="champ5">
           <input type="text" placeholder="Pays" required>
           <input type="text" placeholder="Ex: Masculin ou Feminin" required class="champ6">
        </div>
        <div class="champ7">
           <input type="text" placeholder="Ville" required>
        </div>
       </div>
       <div class="bouton1"> 
          <button type="submit"> Enregistrer les modifications</button>
       </div> 
          <p>Après une suppression,vous avez "6mois" pour maintenir votre compte.</p>
          <p>Pour supprimer définitivement,cliquez en bas.Ceci signifiera que vous, ni aucun autre utilisateur n'aura accès à votre compte.</p>
       <div id="bouton2">
          <button type="submit"> Supprimer ce compte</button>
       </div>
    </form>
</body>
</html>