
body{
    background-color: white
}
img{
    height: 400px;
    width: 400px;
    background-color: white;
    margin-top: -50px;
}
.logo{
    display: flex;
    justify-content: center;
}
h1,p{
    text-align: center;


button{
     padding: 10px;
     background: #007bff;
     color: white;
     border: none;
     border-radius: 6px;
     cursor: pointer;
    margin-left: 570px;
}

button:hover{
    background: #0056b3;
}

a{
     color: #007bff;
    text-decoration: none;
}
.lien1{
    color: white;

}
