body {
  font-family: sans-serif;
  background: #f1f1f1;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.page {
  background: white;
  padding: 50px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  height: 520px;
}

input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 45px;
}

button{
  width: 40%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 50px;
}

.divider {
  margin-top: 50px;
}

button:hover {
  background: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

p {
  margin-top: 100px;
}

.message-container {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  z-index: 1000;
}

.message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}




