body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.trajets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.trajet {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

h2 {
    color: #333;
}

p {
    margin: 5px 0;
}


.modifier{
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modifier:hover {
    background-color: #218838;
}

.suppression{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.suppresion:hover {
    background-color: red;
}

a{
    text-decoration: none;
}

.end{
    display: flex;
    gap:10px;
}