body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 100px;
    margin: 0;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.container {
    max-width: 600px;
    margin: auto;
    background:white;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color:black;
}

.formulaire {
    display: flex;
    flex-direction: column;
    color: blue;
}

.formulaire label {
    margin-top: 10px;
    font-weight: bold;
}

.formulaire input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.supprimer {
    background-color: #e74c3c;
    color: white;
    margin-right: 10px;
}

button.modifier {
    background-color: #3498db;
    color: white;
}

.trajet {
    background-color: #eef6fb;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}
a.lien-soumettre {
    display: inline-block;
    background-color:black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
}

a.lien-soumettre:hover {
    background-color:blue;
}

.message-container {
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    z-index: 1000;
  }
  
.message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
}